<html>
<body>
<h1>Neo Technology Cookie and Tracking Policy</h1>

<p>As described in our <a href="/privacy">privacy policy</a>, we use cookies.  By continuing to use our Site and/or services, you are agreeing to the use of cookies for the purposes we describe in this policy.

<h2>What types of cookies do we use?</h2>
<p>We or our third party service providers use both session ID cookies and persistent cookies on our Site. A session ID cookie expires when you close your browser. Session cookies only last for as long as the session (usually the current visit to a web site or a browser session). A persistent cookie remains on your hard drive for an extended period of time and will be read when you return to the Site. </p>

<h2>Session Cookies</h2>
<p>On our Site, we use certain session cookies to make it easier for you to navigate the Site and making the view of the pages consistent.  If you reject cookies, you may still use our Site, but your ability to use some areas of our Site may be limited.  </p>
<p>These are the session cookies that we use:<br />
session<br />
_wp_session<br />
PHPSESSID<br />
AWSELB<br />
</p>

<p>This is the session cookie that Marketo places:<br />
BIGipServersjlweb-app_http</p>

<p>Information about session cookies that are placed by Marketo can be found at http://www.marketo.com/trust/privacy.php.</p>

<h2>Persistent Cookies</h2>
<p>Our third party service providers set persistent cookies. This Site uses Google Analytics, a web analytics service provided by Google, Inc. (“Google”). Google Analytics and other third parties, such as Marketo, may track your use of this Site and on other websites and use certain persistent “cookies”, which are text files placed on your computer, to help the website analyze how users use the Site. Information about persistent cookies that are placed by Marketo can be found at http://www.marketo.com/trust/privacy.php. These third-party vendors, including Marketo, use cookies to track your use and identity and to serve ads on other websites and our Site based on a user’s prior visit to our Site.</p>

<p>These are the persistent cookies that Google and/or Marketo set:<br />
_mkto_trk<br />
_ga <br />
_gat <br /></p>

<h2>Other Tracking</h2>
<p>We currently do not track users over time over multiple websites, however, we will abide by browser “Do not Track Signals” from your browser.</p>

<h2>Controlling cookies</h2>
<p>Most browsers allow you to control cookies through your setting preferences. If you limit the ability of websites to set cookies, your user experience may be affected. Not allowing cookies may also stop you from saving customized settings like login information.</p>

<h2>How to Control cookies</h2>
<p>If you don't want us to use cookies when you visit our Site, you can change your browser settings on your computer or other device you're using to access our Site. If you use our Site without changing your browser settings, we'll assume that you're happy to receive all cookies on the Site. </p>

<p>To find out more about cookies, including how to see what cookies have been set and how to manage and delete them, visit wikipedia.org,www.allaboutcookies.org, or www.aboutcookies.org.</p>

<h2>Other helpful resources</h2>

<p>To learn more about third party advertisers' use of cookies the following links are helpful:<br />
Digital Advertising Alliance (EU)<br />
Internet Advertising Bureau (US)<br />
Internet Advertising Bureau (EU)<br />
Network Advertising Initiative</p>
</body>
</html>
