<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Graph YOUR Network</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
    .metrics {
        align: center;
        width: 250px;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 16px;
        text-transform: none;
        font-weight: 400;
        font-size: 22px;
        font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    </style>
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Graph your Network!</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#browser">Browser</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#queries">Queries</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">See your Network!</div>
                <div class="intro-heading">Graph your Twitter activity!</div>
                {% if user is defined %}
	        <h3 class="section-subheading">Logged in as: {{ user }} </h3>
                {% else %}
                <a href="/login?next=http://ec2-52-3-156-104.compute-1.amazonaws.com%23browser"><img src="http://www.portlandbuttonworks.com/image/data/twitter.png" /></a>
                {% endif %}
            </div>
        </div>
    </header>

    <!-- Browser Section -->
    <section id="browser">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Neo4j Browser</h2>
                    <h3 class="section-subheading text-muted">Use the Browser to Explore your Graph.</h3>
                    <span id="node_metrics" style="display:none">
                    <div class="metrics text-muted">
                        Users Loaded: <span id="node_metrics_users">0</span><br />
                        Tweets Loaded: <span id="node_metrics_tweets">0</span>
                        Hashtags Loaded: <span id="node_metrics_hashtags">0</span>
                        Links Loaded: <span id="node_metrics_links">0</span>
                    </div>
                    </span>
                    <p class="subsection-heading"><a href="#" id="browser_link" target="_blank"><img src="img/neo4j-browser.png" width="500"></a></p>
                    <h3 class="section-subheading"><span id="n4j_url"></span></h3>
                </div>
            </div>
        </div>
    </section>

    <!-- QueriesSection -->
    <section id="queries" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Example Queries</h2>
                    <h3 class="section-subheading text-muted">Try these queries to explore your data.</h3>
                </div>
            </div>
        </div>
        <table width="80%" align="center">
          <tr style="text-align: center;font-family:Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;text-transform:uppercase;font-weight:700">
            <td width="50%">Top Mentions</td>
            <td width="50%">Most Tagged</td>
          </tr>
          <tr style="vertical-align: top">
            <td id="top_mentions_query">
              <pre>MATCH
  (u:User {screen_name:'{{ user }}'})-[:POSTS]-&gt;(t:Tweet)-[:MENTIONS]-&gt;(m:User)
RETURN
  m.screen_name AS screen_name, COUNT(m.screen_name) AS count 
ORDER BY 
  count 
DESC LIMIT 10</pre>
            </td>
            <td id="most_tagged_query">
              <pre>MATCH
  (h:Hashtag)-[:TAGS]-gt;(t:Tweet)
WITH 
  h, COUNT(h) AS Hashtags
ORDER BY 
  Hashtags DESC
LIMIT 10
RETURN 
  h.name, Hashtags</pre>
            </td>
          </tr>
          <tr>
            <td id="top_mentions_results"></td>
            <td id="most_tagged_results"></td>
          </tr>
        </table>
    </section>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>

    {% if check_for_url %}
      <script>
        function updateNodeCount() {
          $.ajax('/neo4j-node-count', {
            success: function(data) {
              setTimeout(updateNodeCount,5000);
              $('#node_metrics_users').text(data.count_User);
              $('#node_metrics_tweets').text(data.count_Tweet);
              $('#node_metrics_hashtags').text(data.count_Hashtag);
              $('#node_metrics_links').text(data.count_Link);
            },
            error: function() {
             $('#browser_link').attr('href', '#');
             $('#n4j_url').html('Neo4j instance may be expired.  Try refreshing your browser.');
            }
          });
        }
        $('#n4j_url').html('<i>Creating Neo4j instance...</i>')

        $.ajax('/get_n4j_url', {
          success: function(data) {
             $('#n4j_url').html('URL: <a href="' + data.neo4j_url + '" target="_blank">' + data.neo4j_url + '</a>');
             $('#browser_link').attr('href', data.neo4j_url);
             $('#node_metrics').show();
             setTimeout(updateNodeCount,4000);
             setTimeout(updateQueries,10000);
          },
          error: function() {
             $('#n4j_url').html('error');
          }
        });

        function updateQueries() {
            $.ajax('/exec-query?query=mentions', {
              success: function(data) {
                 var headers = ['Screen Name', 'Count']
                 var $table = $('<table width="100%">');
                 var $headTr = $('<tr>').addClass('header');
                 $.each(headers, function(i,header){
                     $headTr.append($('<th>').append($('<span>').text(header)));
                 });
                 $headTr.appendTo($table);
    
                 $.each(data.results, function(i,dataRow){
                     var $dataTr = $('<tr>');
                     $dataTr.append($('<td>').append($('<span>').text(dataRow.screen_name)));
                     $dataTr.append($('<td>').append($('<span>').text(dataRow.count)));
                     $dataTr.appendTo($table);
                 });
                 $table.appendTo('#top_mentions_results');
              },
              error: function() {
                 //$('#n4j_url').html('error');
              }
            });
            $.ajax('/exec-query?query=tags', {
              success: function(data) {
                 var headers = ['Hashtag', 'Count']
                 var $table = $('<table width="100%">');
                 var $headTr = $('<tr>').addClass('header');
                 $.each(headers, function(i,header){
                     $headTr.append($('<th>').append($('<span>').text(header)));
                 });
                 $headTr.appendTo($table);
    
                 $.each(data.results, function(i,dataRow){
                     var $dataTr = $('<tr>');
                     $dataTr.append($('<td>').append($('<span>').text(dataRow.tag)));
                     $dataTr.append($('<td>').append($('<span>').text(dataRow.count)));
                     $dataTr.appendTo($table);
                 });
                 $table.appendTo('#most_tagged_results');
              },
              error: function() {
                 //$('#n4j_url').html('error');
              }
            });
        }
      </script>
    {% endif %}
</body>

</html>
